*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.gridSquare {
    display: flex;
    border: 1px solid black;
    flex: 1;
}

.grid {
    display: flex;
    flex: 1;
    flex-direction: column;

}

#container {
    display: flex;
    height: 720px;
    width: 720px;
    border: 1px solid black;
}

.hover {
    background-color: black;
}